.container {    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width : 400px;
    height: 100vh;
    margin: 40px auto 0 auto;
    border-radius: 50px;
    /* liquid glass */
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 0px 0px rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
}
.backgroundvideo {
    position: fixed;
    left:0;
    top: 0 ;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;

}
.other_website_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    /*background: linear-gradient(to bottom left, #3399ff 0%, #cc66ff 81%);*/
}
.avatar img {
    border-radius: 50%;
    object-fit: cover;
}
.myname {
    font-family: 'Mali', cursive;
    font-weight: 700;
    margin-bottom: -2px;
}
.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #0a1f44; 
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.icon-github {
    -webkit-mask-image: url('folder/github.png');
    mask-image: url('folder/github.png');
}

.icon-tiktok {
    -webkit-mask-image: url('folder/tiktok.png');
    mask-image: url('folder/tiktok.png');
}

.icon-facebook {
    -webkit-mask-image: url('folder/facebook.svg');
    mask-image: url('folder/facebook.svg');
}

.icon-githubproject {
    -webkit-mask-image: url('folder/github.png');
    mask-image: url('folder/github.png');
}
.mycareer{
    font-family: 'Coiny', cursive;
    font-size: 25px;
    margin-bottom: -3px;
    margin-top:5px;
}
.icon:hover {
    transform: translateY(-8px) scale(1.15);
    filter: drop-shadow(0 8px px rgba(0, 0, 0, 0.3));
}
.avatar:hover{
    transform: translateY(-8px) scale(1.15);
    filter: drop-shadow(0 6px 8px rgba(0, 0, 0, 0.3));
}
.avatar{
    transition: transform 0.3s ease, filter 0.3s ease; 
}
.stack{
    font-family: 'Mali', cursive;
    font-size: 20px;
    margin-top:5px;
}
.location{
    font-family: 'Mali', cursive;
    font-size: 16px;
    margin-top: 10px;
}
.footer{
    position: relative;
    margin-top: 150px;
    bottom: 12px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Mali', sans-serif;
}